@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aileron:wght@400;600;700&display=swap");

.content-text {
  font-size: 30px;
  font-family: "Aileron", sans-serif;
  letter-spacing: 2px;
  line-height: 1.8;
}

.header-text {
  font-size: 60px;
  font-family: "EB Garamond", serif;
  font-weight: bold;
}

.mynavbar {
  font-family: "EB Garamond", serif;
  background-color: gray;
  color: white;
  padding: 10px 0;
}

.navbar-brand {
  font-family: "EB Garamond", serif;
  font-size: 1.8rem;
  transition: font-size 0.3s ease, color 0.3s ease; /* Smooth animation */
}

.nav-item {
  font-size: 1rem;
  transition: font-size 0.3s ease, color 0.3s ease; /* Smooth animation */
  font-weight: 450;
}

.navbar-brand:hover {
  font-size: 2rem; /* Enlarged font size on hover */
  color: #007bff;
  /* font-weight: 600; */
}

.nav-item:hover {
  font-size: 1.1rem; /* Enlarged font size on hover */
  color: #2f2f2f;
  font-weight: 600;
}
